body {
  font-family: var(--ff-base);
}
h1,
h2,
h3 {
  font-family: var(--ff-header);
}

.flex {
  display: flex;
  justify-content: space-between;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 1rem;
}
.search-bar {
  border: 1px solid gray;
  border-radius: 1rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}
.search-bar input {
  border: none;
}
.search-bar i {
  cursor: pointer;
}

.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.book__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 2rem;
}
.book__card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.book__container {
  display: flex;
  gap: 1rem;
}

.book__image {
  flex: 1 1 0;
  object-fit: cover;
}
.book__details {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.book__image {
  height: 100px;
}

.book__name {
}
.book__authors {
  display: flex;
  gap: 0.5rem;
}
.book__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.book__categories > * {
  background-color: lightgrey;
  border-radius: 1rem;
  padding-inline: 0.8rem;
  padding-block: 0.4rem;
}

.book__description {
}

.book__pages {
}

.book__ISBN {
}
.book__actions {
  display: flex;
  gap: 0.5rem;
}

.book {
  text-align: center;
}
.book-name {
  font-weight: 700;
  font-size: 1.5rem;
}
.book-author {
  font-size: 0.9rem;
}
.book-img {
  height: 300px;
  width: 200px;
}
